<div class="container">
	<div class="theatre-menu col-md-8">
		<div class="header">
			<div class="header-text"> IN THEATER</div>
			<div>View All
					<li class="glyphicon glyphicon-chevron-right"></li>
			</div>
		</div>
		<div class="menu-options col-md-9">
			<span>#POPULAR</span>
			<span>#COMING SOON</span>
			<span>#TOP RATED</span>
			<span>#MOST REVIEWED</span>
		</div>
	</div>
	<div class="celebrity-menu col-md-4">
		<div class="menu-options-2">
			<div>SPOTLIGHT CELEBRITIES</div>
		</div>
	</div>
</div>