.container {
    color: #fff;
    margin-top: 50px;
    display: flex;
    padding-left: 0px;
    background:rgba(0,0,0,.87);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-text {
    font-size: 30px;
}

.theatre-menu{
    margin-right: 60px;
}

.menu-options {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 10px;
}

.celebrity-menu {
    margin-left: 60px;
}

.menu-options-2 {
    border-bottom: 1px solid #405266;
}