.navbar-title {
    width: 70px;
    font-family: cursive;
    font-size: large;
    border: ridge;
    margin-right: 20px;
    border-radius: 15px;
    text-align: center;
}

.navbar-custom {
    margin-bottom: 0px !important;
}

.nav-item {
    margin: 0px 10px 0px 10px;
}

.nav-container {
    display: flex;
    font-family: serif;
    font-weight: bolder;
    justify-content: space-between;
}

.menu-left {
    margin-top:10px;
    display: inline-flex;
    align-items: center;
}

.menu-right {
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link:hover{
    cursor: pointer;
}