<nav class="navbar navbar-custom navbar-inverse navbar-fixed-top">
  <div class="nav-container">
    
    <div class="navbar-title">
      {{title}}
    </div>

    <ul class="nav justify-content-start menu-left">
      <li class="nav-item">
        <span class="nav-link active" href="#">Home</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" href="#">Movies</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" href="#">News</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" href="#">Community</span>
      </li>
    </ul>

    <ul class="nav justify-content-end menu-right">
      <li class="nav-item">
        <span class="nav-link active" href="#">Help</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" href="#">Login</span>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" style="border-radius: 30px; ">Sign Up</button>
      </li>
    </ul>
    
  </div>
</nav>