.navbar-custom {
    flex-flow: column;
    align-items: center;
}

.navbar-title {
    width:70px;
    padding-top: 8px;
    font-family: cursive;
    font-size: large;
    border: ridge;
    border-radius: 15px;
}

.navbar-collapse {
    height: auto;
    padding-bottom: 0;
    overflow: visible; 
}

.menu-parent {
    display: flex !important;
    width: 100%;
    margin-left: 30px;
}

.menu-child-left {
    flex-flow: row;
    padding-right: 20em;
}

.menu-child-right {
    flex-flow: row;
}

.menu-child2 {
    margin: 20px;
    cursor: pointer;
    font-family: serif;
    font-weight: 600;
    font-size: large;
}

.nav-container {
    display: inline-flex;
    text-align: center
}

.navheaderbar{
    margin-top: 10px;
}