.navbar-custom {
    display: inline-flex;
}

.navbar-title {
    width:50px;
}

.navbar-collapse {
    height: auto;
    padding-bottom: 0;
    overflow: visible; 
}

.flex-parent {
    display: flex !important;
    width: 100%;
}