<nav class="navbar navbar-custom navbar-inverse navbar-fixed-top">
    <div class="nav-container">
        <div class="navbar-title">
            {{title}}
        </div>
        
<ul class="nav justify-content-start" style="margin-right: 200px;margin-top: 10px">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">News</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" href="#">Community...</a>
  </li>
</ul>


<ul class="nav justify-content-end" style="margin-left: 200px;margin-top: 10px">
  <li class="nav-item">
    <a class="nav-link active" href="#">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary" style="border-radius: 30px; ">Sign Up</button>
  </li>
</ul>


    </div>
</nav>