<nav class="navbar navbar-custom navbar-inverse navbar-fixed-top">
    <div class="nav-container">
        <div class="navbar-title">
            {{title}}
        </div>
        <div class="navbar-collapse menu-parent">
            <ul class="menu-child-left nav navbar-nav">
                <li class="menu-child2" *ngFor="let menuOption of menuOptions">{{ menuOption }}</li>
            </ul>
            <ul class="menu-child-right nav navbar-nav">
                <li class="menu-child2" *ngFor="let signUpOption of signUpOptions">{{ signUpOption }}</li>
            </ul>
        </div>
    </div>
</nav>