<!-- <div class="something-here">
</div> -->
<!-- <div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner card-deck cards item" *ngFor="let x of testArray2 | sortBy: 'year'">
    <div class="card">
      <img class="card-img-top" src="http://cdn1-www.comingsoon.net/assets/uploads/gallery/angry-birds-1412173620/angrybirdsmovie0004.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{x.title}}</h5>
        <p class="card-text">Year: {{x.year}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Genre : {{x.Genre}}</small>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="card-deck cards" *ngFor="let x of serialDetails | sortBy: 'year'">
  <div class="card">
    <img class="card-img-top" src="http://cdn1-www.comingsoon.net/assets/uploads/gallery/angry-birds-1412173620/angrybirdsmovie0004.jpg"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{x.title}}</h5>
      <p class="card-text">Year: {{x.year}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Genre : {{x.Genre}}</small>
    </div>
  </div>
</div> -->

<div style="margin-top:20px"></div>

<div class="container"> 
  <div id="myCarousel" class="carousel slide main" data-ride="carousel">
      <ol class="carousel-indicators indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    <div class="carousel-inner">
      <div class="item active">
          <div class="card img-fluid">
              <img src="./../../../assets/images/amazing_spider_man.jpg" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">John Doe</h4>
                <a href="#">See Profile</a>
              </div>
            </div>
      </div>

      <div class="item">
          <div class="card img-fluid">
              <img src="./../../../assets/images/13_reasons_why.jpg" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">John Doe</h4>
                <a href="#">See Profile</a>
              </div>
            </div>
      </div>
    
      <div class="item">
          <div class="card img-fluid">
              <img src="./../../../assets/images/deadpool_2.jpg" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title">John Doe</h4>
                <a href="#">See Profile</a>
              </div>
            </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

