/* You can add global styles to this file, and also import other style files */

.background {
    background-image: url('http://haintheme.com/demo/html/bustter/images/uploads/slider-bg.jpg');
    background-size: cover;
    filter: blur()
}

body{
    color: #1c61ac;
}



