.movie-nav{
    color: white;
    padding-top: 70px;
    text-align: center
}

.title{
    font-size: 36px;
    color:#ff5e00f7;
}

.movie-nav ul{
    font-size: 20px;
    margin-top: 20px;
}

.movie-nav ul li a{
    text-decoration: none;
}
.movie-nav ul li{
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #297aa0;
    font-weight: 300;
    text-transform: uppercase;
}

.search-form,.movie-list-table{
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.topbar-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.topbar-filter p {
    padding-right: 200px;
    margin-bottom: 0;
}